
/* | Fonts | */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,200;1,400&family=Shizuru&display=swap');
html {
    font-size: 100%;
}
/* | Variables | */
:root {
    /* colors */
    --primary-100: #d4e4e8;
    --primary-200: #a9c9d2;
    --primary-300: #7daebb;
    --primary-400: #5293a5;
    --primary-500: #27788e;
    --primary-600: #1f6072;
    --primary-700: #174855;
    --primary-800: #103039;
    --primary-900: #08181c;

    --secondary-400: #dbbf8c;
    --secondary-500: #cfaa65;
    --secondary-600: #9b804c;

    --grey-200: #E2E8F0;
    --grey-300: #CBD5E1;
    --grey-400: #94A3B8;
    --grey-500: #64748B;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1E293B;
    --grey-900: #0F172A;

    --black: #000; 
    --white: #fff;
    --red-light: #e9b1b5;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    /* font styles */
    --ff-primary: "Josephin Sans", sans-serif;
    --ff-secondary: "Shizuru", cursive;
    /* other */
    --backgroundColor: var(--grey-200);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;

    /* box shadow */
    --shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
    --shadow-2: 0 4px 6px -2px rgba(0, 0, 0, 0.6);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.8);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.8);
}

  /* | Global Styles | */

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--grey-200);
    color: var(--grey-900);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
    line-height: 1.25;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
  }
h4 {
    font-size: 0.875rem;
  }
p {
    font-size: 1rem;
    color: var(--grey-700);
  }

  *, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  .btn {
    text-transform: uppercase;
    background: var(--primary-900);
    color: var(--white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--letterSpacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--borderRadius);
  }
  .btn:hover {
    color: var(--white);
    background: var(--black);
  }
  .alert {
    position: fixed;
    right: 40%;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
  }
  .alert-danger {
    color: #721c24;
    background: #f8d7da;
  }
  
  .alert-success {
    color: #155724;
    background: #d4edda;
  }

  /* | App Styles | */


  /* general layout */
  header {
    width: 100%;
    text-align: center;
    background: var(--primary-200);
    color: var(--primary-800);
    z-index: 99;
    padding: 1rem;
  }

  header * {
    margin-top: 0.25rem;
  }

  main {
    min-height: 100vh;
    display: grid;
    background: var(--grey-400);
    padding: 2rem;
  }

  /* nav */


  .links-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0.75rem;
    background: var(--primary-500);
    border-radius: 10px;
  }

  .link {
    font-family: var(--ff-primary);
    font-size: 1.15rem;
    padding: 0.35rem;
    color: var(--primary-800);
    background: rgb(96, 212, 96);
    border-radius: var(--borderRadius);
    transition: var(--transition);
  }
  .link:hover {
    background: var(--primary-700);
    color: var(--grey-400);
    transition: var(--transition);
  }

  .link:active {
    background: var(--secondary-500);
    transition: var(--transition);
  }

  .fixed-nav {
    position: static;
  }


  /* form */

  .grocery-form h3 {
    color: var(--primary-900);
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .form-control * {
    padding: 0.25rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
    font-size: 1rem;
  }
  #grocery {
    padding-left: 1rem;
    background: var(--primary-500);

    flex: 1 0 auto;
    color: var(--grey-200);
    font-size: 1.25rem;
  }
  #grocery:hover {
    background: var(--primary-400);
  }
  #grocery::placeholder {
    font-style: italic;
    font-weight: 200;
    color: var(--grey-700);
    font-size: 1rem;
  }
  #location {
    background: var(--primary-200);
    cursor: grab;
    border-color: transparent;
    transition: var(--transition);
  }
  #location:hover {
    border: 0.25rem dashed var(--primary-800);
  }
  .expr-container {
    display: grid;
    justify-items: center;
    background: var(--primary-800);
    color: var(--primary-200);
  }
  #expiration {
    background: var(--primary-400);
    border-radius: var(--borderRadius);
  }
  #expiration:hover {
    background: var(--primary-300);
  }
  .submit-btn {
    background: var(--primary-600);
    border-color: transparent;
    flex: 0 0 5rem;
    display: grid;
    align-items: center;
    padding: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--white)
  }
  .submit-btn:hover {
    background: var(--primary-500);
    color: var(--black);
  }
  
  /* Kitchen */

  .grocery-container {
    margin-top: 2rem;
    transition: var(--transition);
  }
  .grocery-list {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
  }
  .section-container {
    padding: 1rem;
    text-align: center;
  }
  .section-img {
    object-fit: fill;
    background: var(--white);
    padding: 0.5rem;
    height: 18rem;
    width: 18rem;
  }
  .section-img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .remove-img {
    display: none;
  }
  .kitchen-section {
    flex-direction: column;
    justify-content: flex-start;
    background: var(--primary-500);
    text-align: right;
    padding: 1rem;
    padding-bottom: 2rem;
    border: 3px solid var(--primary-900);
    border-radius: var(--borderRadius);
    display: none;
  }
  .show-section {
    display: flex;
  }

  .grocery-item {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    align-items: center;
    gap: 5px;
    margin-bottom: 0.5rem;
    transition: var(--transition);
    padding: 0.25rem;
    border-radius: var(--borderRadius);
    text-transform: capitalize;
  }
  .grocery-item:hover {
    color: var(--grey-900);
    background: var(--grey-900);
    opacity: .8;
  }
  .grocery-item:hover .title {
    color: var(--grey-200);
  }
  .close {
    padding-bottom: 1rem;
  }
  .close:hover {
    cursor: pointer;
  }
  .title {
    margin-bottom: 0;
    color: #d9d0c0;
    font-weight: 700;
    letter-spacing: 2px;
    transition: var(--transition);
  }
     
  .health-bar {
    position: relative;
    text-align: center;
    font-weight: 700;
    padding: 5px 0px;
    border-radius: 5px;
    box-shadow: inset white 2px 3px 7px 0px, inset black 0px -1px 5px 3px;
  }
  .health-bar:hover::before {
    content: " until expiration";
    position: absolute;
    top: -100%;
    right: -50%;
    color: var(--black);
    background: var(--secondary-500);
  }
  .btn-container {
    font-size: 1rem;
    text-align: center;
  }
  .edit-btn,
  .delete-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 0.15rem;
    transition: var(--transition);
  }
  .edit-btn {
    color: var(--green-dark);
  }
  .edit-btn:hover {
    color: var(--green-light);
  }
  .delete-btn {
    color: var(--red-dark);
  }
  .delete-btn:hover {
    color: var(--red-light);
  }
  .clear-btn {
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    display: grid;
    align-items: center;
    background: var(--red-dark);
    border-color: transparent;
    color: var(--red-light);
    margin: 0 auto;
    font-size: 0.85rem;
    letter-spacing: var(--letterSpacing);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 1.25rem;
    border-radius: var(--borderRadius)  ;
  }
  .clear-btn:hover {
    box-shadow: var(--shadow-2);
    color: var(--primary-300);
  }
  .top-link {
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--primary-600);
    color: var(--primary-200);
    width: 2rem;
    height: 2rem;
    animation: bounce 5s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  }

  .show-link {
    visibility: visible;
    z-index: 100;
  }

  footer {
    height: 5rem;
    background: var(--primary-900);
    color: var(--primary-200);
    text-align: center;
    padding-top: 2rem;
  }

  
  /* | Media Queries | */

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (min-width: 600px) {
    .section-container {
      margin: 0;
    }
    .fixed-nav {
      position: fixed;
      flex-direction: column;
      top: 40%;
      left: 7%;
      gap: 1.5rem;
      transition: var(--transition);
    }

    .fixed-nav:hover {
      transition: var(--transition);
      background: var(--secondary-500);
    }
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
    .form-control {
      flex-direction: row;
      gap: 0;
    }
    .form-control * {
      border-radius: 0;
    }
    #grocery {
      border-top-left-radius: var(--borderRadius);
      border-bottom-left-radius: var(--borderRadius);
    }
    .submit-btn {
      border-top-right-radius: var(--borderRadius);
      border-bottom-right-radius: var(--borderRadius);
    }
    .grocery-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.5rem;
      align-items: center;
      justify-items: center;
    }
    .fixed-nav {
      display: none;
    }
  }

  @media screen and (min-width: 1050px) {
    .section-img {
      height: 28rem;
      width: 28rem;
    }
  }